
a, a:link, a:active, a:visited, a:hover {
	color: black;
	text-decoration: none
}
.nav-item{
	margin-right: 10px
}
.link-text{
	font-size: 20px
}
.icon-link {
	margin: 5px
}

#greeting {
	color: gray;
}

.contact-area{
	margin-top: 20px;
}

#mylogo {
	float: left;
	margin: 10px;
	width: 300px;
	height: 300px;
}

.jumbotron {
	background-color: transparent !important;
}